<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.estepanova.vocablurybooster">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".LanguageChoice">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ModeChoice"
            android:label="Mode Choice"
            android:parentActivityName="com.example.estepanova.vocablurybooster.LanguageChoice"
            android:launchMode="singleTop">
        </activity>
        <activity android:name=".MainShow"
            android:label="Learn"
            android:parentActivityName="com.example.estepanova.vocablurybooster.ModeChoice">>
        </activity>
        <activity android:name=".TopicsChoice"
            android:label="Topics"
            android:parentActivityName="com.example.estepanova.vocablurybooster.ModeChoice">
        </activity>
        <activity android:name=".WordAnswer"
            android:label="Revise"
            android:parentActivityName="com.example.estepanova.vocablurybooster.ModeChoice">
        </activity>
        <activity android:name=".WordCheck"
            android:label="Revise"
            android:parentActivityName="com.example.estepanova.vocablurybooster.ModeChoice">
        </activity>
        <activity android:name=".CongratsTopic"
            android:label="You shall pass!"></activity>
        <activity android:name=".Congrats"
            android:label="You shall pass!"></activity>
    </application>

</manifest>