<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.estepanova.vocablurybooster">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".WelcomeActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".LevelChoice"
            android:launchMode="singleTop"
            android:parentActivityName=".WelcomeActivity" />
        <activity
            android:name=".LanguageChoice"
            android:launchMode="singleTop"
            android:parentActivityName=".LevelChoice" />
        <activity
            android:name=".ModeChoice"
            android:launchMode="singleTop"
            android:parentActivityName=".LanguageChoice" />
        <activity
            android:name=".MainShow"
            android:launchMode="singleTop"
            android:parentActivityName=".ModeChoice">
            >
        </activity>
        <activity
            android:name=".TopicsChoice"
            android:launchMode="singleTop"
            android:parentActivityName=".ModeChoice" />
        <activity
            android:name=".WordCheck"
            android:launchMode="singleTop"
            android:parentActivityName=".ModeChoice" />
        <activity
            android:name=".CongratsTopic"
            android:launchMode="singleTop"
            android:label="You shall pass!" />
        <activity
            android:name=".Congrats"
            android:launchMode="singleTop"
            android:label="You shall pass!" />
        <activity
            android:name=".Feedback"
            android:launchMode="singleTop"/>
    </application>

</manifest>